@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  scroll-behavior: smooth;
}

/* Hide scrollbars while keeping scrolling functional */
html, body {
  scroll-behavior: smooth;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* For Firefox */
body {
  scrollbar-width: none;
  /* For Internet Explorer and older Edge */
  -ms-overflow-style: none;
}